.Jumbotron {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    color: #edffea;
    height: 70vh;
    margin-top: 15vh;
    position: relative;
    text-align: left;
    width: 100%;
}