.Jumbotron {
    color: #eee;
    padding: 8rem 2rem 2rem;
    text-align: right;
    width: 100%;
}

.Jumbotron h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.Jumbotron h3 {
    font-size: 1rem;
}