.NavigationLinks div {
    display: flex;
    flex-direction: column;
}

.NavigationLinks ul {
    display: flex;
    flex-direction: column;
    font-family: "Lexend Giga";
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    width: 100%;
}

.NavigationLinks li {
    margin: 1rem 0;
}

.NavigationLinks a {
    color: white;
    text-decoration: none;
}

.NavigationLinks a:hover {
    color: #216353;
}

@media (min-width: 41rem) {
    .NavigationLinks ul {
        flex-direction: row;
        margin: 0;
    }

    .NavigationLinks a {
        margin: 0 2rem;
    }
}