.NavigationLinks ul {
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.2rem;
    list-style: none;
    padding: 0 1rem;
    margin: 2rem 0;
    width: 100%;
}

.Link {
    align-items: center;
    align-self: stretch;
    color: white;
    display: flex;
    margin: 1rem 0;
    position: relative;
    transition: all 0.2s ease-out;
}

.Link:hover {
    border-bottom: 4px solid white;
    color: #216353;
    cursor: pointer;
    font-weight: bold;
}

.NavigationLinks a {
    color: white;
    text-decoration: none;
}

.NavigationLinks a:hover {
    color: #216353;
}

.Dropdown {
    background: #313131;
    top: 107%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease-out;
    visibility: hidden;
    z-index: 10;
}

.Dropdown li {
    border: 1px solid #ccc;
    color: white;
    font-weight: normal;
    padding: 0.2rem 0.5rem;
    transition: all 0.2s ease-out;
}

.Dropdown li:hover {
    background: #4d4d4d;
    cursor: pointer;
}

.Dropdown::before {
}

@media (min-width: 900px) {
    .NavigationLinks ul {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.2rem;
        height: 4rem;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .Link {
        margin: 0 1rem;
    }
}