.CTAButton {
    animation: float 4s infinite ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    font-family: initial;
    font-weight: bold;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-out;
    width: 200px;
}

.CTAButton img {
    transition: all 0.5s ease-out;
}

.CTAButton img:hover {
    transform: scale(1.1);
}

@keyframes float {
    0% {
        transform: translateY(0.2rem);
    }
    50% {
        transform: translateY(-0.3rem);
    }
    100% {
        transform: translateY(0.2rem);
    }
  }