.GlobalLoader {
  background: #edffea;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

.GlobalLoader img {
  animation: float 2s infinite ease-in-out;
  text-align: center;
  width: 300px;
}

.CTAButton img:hover {
  transform: scale(1.1);
}

@keyframes float {
  0% {
      transform: translateY(0.2rem);
  }
  50% {
      transform: translateY(-0.3rem);
  }
  100% {
      transform: translateY(0.2rem);
  }
}