.RealmEditorForm {
    align-items: center;
    background: #edffea;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Cancel {
    background-color: transparent;
    border: none;
    color: #944317;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px 10px;
    margin: 0 10px 10px;
    font-weight: bold;
}

.Cancel:focus {
    outline: none;
}

@media (min-width: 700px) {
    .RealmEditorForm {
        flex-direction: row;
    }
}