.Modal {
    background: #313131;
    border: 8px solid #616161;
    border-radius: 16px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: initial;
    left: 5%;
    padding: 1rem;
    position: fixed;
    top: 10%;
    transition: all 1.5s cubic-bezier(0.38,-0.18, 0.25, 1.27);
    width: 90%;
    z-index: 110;
}

.shopping-modal__alert {
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: center;
}

.shopping-modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.shopping-modal__actions {
    text-align: center;
}

.shopping-modal__action {
    background: #3fc5f0;
    border: 1px solid #3fc5f0;
    color: white;
    cursor: pointer;
    line-height: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.shopping-modal__action:hover,
.shopping-modal__action:active {
    background: #33ffcc;
    border-color: #33ffcc;
    color: white;
    text-decoration: none;
}

.shopping-modal__action--negative {
    background: red;
    border-color: red;
}

.shopping-modal__action--negative:hover,
.shopping-modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}