.Card {
    background: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: black;
    height: 10rem;
    margin: 1rem;
    position: relative;
    transition: box-shadow 1s ease-out;
    width: 10rem;
}

.Card:hover,
.Card:active {
    box-shadow: 0 4px 12px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.Card h3 {
    font-size: 1.5rem;
}

.Card p {
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    right: 0;
}