.Testimonials {
    background: #edffea;
    border-radius: 16px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
    margin: 4rem 0;
    max-width: 1500px;
    padding: 2rem 0;
    text-align: center;
    width: 85%;
}

.Testimonials h2 {
    font-family: "Lexend Giga";
    padding-bottom: 2rem;
}