.Redirect {
    color: white;
}

.Redirect h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: center;
}

.Redirect h3 {
    text-align: center;
    margin: 0 0 1rem 0;
}

.RedirectActions {
    text-align: center;
}

.RedirectActions span {
    background: #616161;
}

.RedirectActions span:hover,
.RedirectActions span:active {
    background: #888888;
}

.RedirectAction {
    background: #75daad;
    border: none;
    color: white;
    cursor: pointer;
    line-height: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.RedirectAction:hover,
.RedirectAction:active {
    background: #33ffcc;
    border-color: #33ffcc;
    color: white;
    text-decoration: none;
}