.RealmEditor {
    background: #edffea;
    border-radius: 16px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
    color: #216353;
    justify-content: space-around;
    width: 90%;
}

.Realms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Icons {
    border-radius: 50%;
    padding: 0.4rem;
    text-align: center;
    transition: background-color 0.2s linear;
    width: auto;
}

.Icons:hover {
    background-color: #bef0b6;
    cursor: pointer;
}

.Icons:active {
    background-color: #89ffca;
}