.RealmSelector {
    background: #cfcfff;
    padding: 2rem;
    width: 100%;
}

.Selections {
    align-items: center;
    display: flex;
    text-align: center;
}

.Selections p {
    margin: 1rem;
    text-decoration: underline;
}

.Selections p:hover,
.Selections p:active {
    color: gray;
    cursor: pointer;
    text-decoration: none
}
