.RealmSelector {
    background: #313131;
    width: 100%;
}

.RealmSelector h1 {
    color: white;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.RealmSelector a {
    color: #b4b4b4;
}

.RealmSelector a:hover,
.RealmSelector a:active {
    color: gray;
    text-decoration: none
}

.RealmSelector p {
    margin: 1rem;
    text-align: center;
    text-decoration: underline;
}

.Selections {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}