.Home {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Body {
    align-items: center;
    background: #edffea;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    width: 100%;
}