.Header {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
    z-index: 20;
}

.Header nav {
    display: none;
}

.CTAButton {
    bottom: 1rem;
    display: none;
    position: relative;
}

@media (min-width: 41rem) {
    .Header {
        width: 85%;
    }

    .Header nav {
        display: flex;
    }

    .CTAButton {
        display: block;
    }

    .CTAButton div {
        width: 150px;
    }
}

@media (min-width: 1000px) {
    .CTAButton div {
        width: 200px
    }
}