.Header ul {
    background: #edffea;
    color: #7a4d1d;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 2rem 1rem;
    width: 100%
}




/* 
edffea
75daad
216353
7a4d1d */