.Header {
    align-items: center;
    background: #313131;
    display: flex;
    flex-direction: row-reverse;
    height: 4rem;
    justify-content: space-between;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}

.Header nav {
    display: none;
}

.Logo {
    background: #313131;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    padding-left: 1rem;
    text-align: center;
}

.Logo:hover {
    cursor: pointer;
}

.CTAButton {
    bottom: 1rem;
    display: none;
    position: relative;
}

@media (min-width: 41rem) {
    .Header {
        flex-direction: row;
    }

    .Header nav {
        display: flex;
    }

    .CTAButton {
        display: block;
    }

    .CTAButton div {
        width: 150px;
    }
}

@media (min-width: 1000px) {
    .CTAButton div {
        width: 200px
    }
}