.Input {
    box-sizing: border-box;
    padding: 4px 10px;
    width: 100%;
}

.Label {
    font-weight: bold;
}

.InputElement {
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    font: inherit;
    outline: none;
    padding: 6px 10px;
    width: 100%;
}

.InputElement:focus {
    background-color: #ccc;
    outline: none;
}

.Price {
    display: inline-block;
    margin: 0 0.25rem;
    width: 2.5rem !important;
}

.Upload {
    display: none;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}