.Footer {
    background: #313131;
}

.Footer ul {
    color: #ccc;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1rem;
}

.Footer li:hover {
    color: #eee;
    cursor: pointer;
}