.Footer {
    background: #313131;
}

.Footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1rem;
}

.Links {
    color: #ccc;
}

.Links:hover {
    color: #eee;
    cursor: pointer;
    text-decoration: none;
}