.Card {
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
    color: black;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.5s ease-out;
    width: 15rem;
}

.Card:hover,
.Card:active {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.Card h3 {
    font-size: 1.5rem;
}

.Card img {
    border-radius: 50%;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
    height: 10rem;
    width: 10rem;
}