.CandleImg {
    border: solid 4px #75daad;
    border-radius: 50%; 
    height: 6rem;
    margin: 0.8rem;
    position: relative;
    width: 6rem;
}

.CandleImg img {
    border-radius: 50%;
    height: 95%;
    left: 2%;
    position: absolute;
    top: 2%;
    width: 95%;
}