.ProductSelector {
    margin: 0 auto;
    padding: 2rem 4rem;
}

.ProductSelector a:hover {
    text-decoration: none;
}

.Divider {
    border-top: 1rem dotted black;
    left: 35%;
    text-align: center;
    position: relative;
    width: 30%;
}