.ProductSelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
    padding: 2rem 0;
}

.ProductSelector a:hover {
    text-decoration: none;
}

.Divider {
    border-top: 10px dotted #edffea;
    left: 35%;
    text-align: center;
    position: relative;
    width: 30%;
}