.ProductContainer {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #eee;
    height: 20rem;
    overflow: hidden;
}

.ProductContainer img {
    width: 100%;
}

@keyframes transition {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }