.ProductContainer {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #eee;
    height: 20rem;
    overflow: hidden;
}

.ProductContainer img {
    transition: opacity 1s ease-out;
    width: 100%;
}